.rows {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.rows .day {
  padding: 0 20px;
}

.rows .row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rows .date {
  color: #747474;
  font-size: calc(18px + 2vmin);
  opacity: 0.4;
}

.rows .row .hours {
  display: flex;
  justify-content: space-evenly;
}
